name: generate.yaml
on:
  push:
    branches:
      - main

jobs:
  generate:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4

      - name: setup go
        uses: actions/setup-go@v5
        with:
          go-version: '1.24'

      - name: generate
        run: |
          go generate -skip="mockgen" ./...

      - name: Commit generated files
        if: github.ref == 'refs/heads/main'
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          
          find . -name '*gen.go' -print0 | xargs -0 git add -f
          git commit -m "chore: commit generated files" || echo "No changes to commit"
          
          git remote set-url origin https://x-access-token:${{ secrets.PAT_PUSH_TOKEN }}@github.com/${{ github.repository }}
          git push --force-with-lease origin main
